In [87]:
from langchain_google_genai import GoogleGenerativeAI
import os

os.environ["GOOGLE_API_KEY"] = "AIzaSyDZ6W2rNEdUsHpfzogZqJ2o755WQi1ZPLY"

llm = GoogleGenerativeAI(model="gemini-1.5-pro", temperature=0.2, api_key=os.environ["GEMINI_API_KEY"])


poem = llm("Write a poem about the ocean in the style of Shakespeare")
print(poem)

Upon the boundless bosom of the deep,
Where Neptune's wrathful steeds do fiercely leap,
The ocean vast, a stage of liquid glass,
Reflects the heavens, clear or overcast.

Her waves, like emerald mountains, rise and fall,
A restless pulse that doth encompass all.
From coral castles, built in silent grace,
To sunless trenches, a forgotten space.

The salty breath, a kiss upon the air,
Doth whisper tales of mermaids, fair and rare,
Of sunken galleons, with treasures untold,
And kraken's grip, in icy depths so cold.

The mariner, with weathered hand and face,
Doth brave her moods, in this tempestuous place.
He seeks the bounty that her depths conceal,
Or distant shores, where fortune's wheel may reel.

Yet oft she rages, with a fearsome might,
Her frothy mane, a spectacle of white.
The thunderous roar, a symphony of dread,
As ships are splintered, and brave sailors bled.

But when she sleeps, beneath the moon's soft gleam,
A silvered path, a poet's tranquil dream.
The gentle lapping, on the sandy shore,
A lullaby, forevermore.

So praise the ocean, in her every guise,
From tranquil depths, to storm-wracked, angry skies.
A timeless wonder, ever to behold,
A story whispered, never to grow old.

In [88]:
from langchain.utilities import SQLDatabase

db_user = "root"
db_password = "root"
db_host = "localhost"
db_name = "atliq_tshirts"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")

print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	60	11.81
2	35	37.47
3	52	1.93
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Adidas	Black	XS	23	36
2	Levi	Black	XS	19	74
3	Adidas	Red	XL	28	46
*/

In [89]:
from langchain_experimental.sql import SQLDatabaseChain

from langchain.prompts import PromptTemplate

_DEFAULT_TEMPLATE = """Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Use the following format:

Question: "Question here"
SQLQuery: SQL query to run without any markdown formatting
SQLResult: "Result of the SQL query"
Answer: "Final answer here"

Only use the following tables:
{table_info}

Question: {input}"""

PROMPT = PromptTemplate(
    input_variables=["input", "table_info", "dialect"], template=_DEFAULT_TEMPLATE
)

db_chain = SQLDatabaseChain.from_llm(
    llm=llm, 
    db=db, 
    prompt=PROMPT,
    verbose=True
)

result = db_chain.run("What is the average price of t-shirts?")
print(result)

> Entering new SQLDatabaseChain chain...
What is the average price of t-shirts?
SQLQuery:Question: What is the average price of t-shirts?
SQLQuery:
SELECT AVG(price)
FROM t_shirts;
SQLResult: [(Decimal('30.0339'),)]
Answer:Question: What is the average price of t-shirts?
SQLQuery:SELECT AVG(price)
FROM t_shirts;
> Finished chain.
Question: What is the average price of t-shirts?
SQLQuery:SELECT AVG(price)
FROM t_shirts;

In [90]:
qns1 = db_chain("How many t-shirts do we have left for nike in extra small size and white color?")

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for nike in extra small size and white color?
SQLQuery:Question: How many t-shirts do we have left for nike in extra small size and white color?
SQLQuery:
SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS';
SQLResult: [(81,)]
Answer:Question: How many t-shirts do we have left for nike in extra small size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS';
> Finished chain.

In [91]:
qns2 = db_chain.run("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:Question: How much is the price of the inventory for all small size t-shirts?
SQLQuery:
SELECT SUM(price * stock_quantity)
FROM t_shirts
WHERE size = 'S';
SQLResult: [(Decimal('16380'),)]
Answer:Question: How much is the price of the inventory for all small size t-shirts?
SQLQuery: SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size = 'S';
> Finished chain.

In [92]:
qns3 = db.run("""
    SELECT SUM(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) AS total_revenue 
    FROM (
        SELECT SUM(price*stock_quantity) AS total_amount, t_shirt_id 
        FROM t_shirts 
        WHERE brand = 'Levi'
        GROUP BY t_shirt_id
    ) a 
    LEFT JOIN discounts ON a.t_shirt_id = discounts.t_shirt_id
""")
print(result)

Question: What is the average price of t-shirts?
SQLQuery:SELECT AVG(price)
FROM t_shirts;

In [93]:
qns4 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery:Question: SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery: SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('21973'),)]
Answer:Question: SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery: SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi';
> Finished chain.

In [94]:
qns5 = db_chain.run("How many white color Levi's t shirts we have available?")

> Entering new SQLDatabaseChain chain...
How many white color Levi's t shirts we have available?
SQLQuery:Question: How many white color Levi's t shirts we have available?
SQLQuery:
SELECT sum(stock_quantity)
FROM t_shirts
WHERE brand = 'Levi'
  AND color = 'White';
SQLResult: [(Decimal('94'),)]
Answer:Question: How many white color Levi's t shirts we have available?
SQLQuery:SELECT sum(stock_quantity)
FROM t_shirts
WHERE brand = 'Levi'
  AND color = 'White';
> Finished chain.

In [95]:
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns1},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': qns2},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': qns3} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : qns4},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns5
     }
]

In [100]:
from langchain.embeddings import HuggingFaceEmbeddings

embedding = HuggingFaceEmbeddings(model_name="sentence-transformers/all-MiniLM-L6-v2")


to_vectorize = [" ".join(str(value) for value in example.values()) for example in few_shots]
print(to_vectorize)

['How many t-shirts do we have left for Nike in XS size and white color? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = \'Nike\' AND color = \'White\' AND size = \'XS\' Result of the SQL query {\'query\': \'How many t-shirts do we have left for nike in extra small size and white color?\', \'result\': "Question: How many t-shirts do we have left for nike in extra small size and white color?\\nSQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = \'Nike\' AND color = \'White\' AND size = \'XS\';"}', "How much is the total price of the inventory for all S-size t-shirts? SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S' Result of the SQL query Question: How much is the price of the inventory for all small size t-shirts?\nSQLQuery: SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size = 'S';", "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)? SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n  Result of the SQL query [(Decimal('21973.000000'),)]", "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount? SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi' Result of the SQL query Question: SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'\nSQLQuery: SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi';", "How many white color Levi's shirt I have? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White' Result of the SQL query Question: How many white color Levi's t shirts we have available?\nSQLQuery:SELECT sum(stock_quantity)\nFROM t_shirts\nWHERE brand = 'Levi'\n  AND color = 'White';"]

In [103]:
from langchain.vectorstores import Chroma

simple_metadata = [{"query": example['Question'], "sql_query": example['SQLQuery']} for example in few_shots]

vectorstore = Chroma.from_texts(
    texts=to_vectorize, embedding=embedding, metadatas=simple_metadata, persist_directory="chroma_db"
)

In [104]:
from langchain.prompts import SemanticSimilarityExampleSelector
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "How many Adidas T shirts I have left in my store?"})

[{'query': 'How many t-shirts do we have left for Nike in XS size and white color?'},
 {'query': 'How many t-shirts do we have left for Nike in XS size and white color?'}]

In [105]:
mysql_prompt = """You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: Query to run with no pre-amble
SQLResult: Result of the SQLQuery
Answer: Final answer here

No pre-amble.
"""

In [110]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [111]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [112]:
print(mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: Query to run with no pre-amble
SQLResult: Result of the SQLQuery
Answer: Final answer here

No pre-amble.

In [ ]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"],
)

In [114]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [122]:
ans = new_chain("How many Levi Black color T shirts I have left in my store?")
print(ans)

None